
@import url('https://fonts.googleapis.com/css?family=Baumans');    

body {
    background-image: url('../../../assets/images/rocks.jpg');
    background-size: cover; 
    background-repeat: 0 0 no-repeat;
    color: ivory;
    //background: $baseLight;
    
    //color: $baseDark;
    font-family: Baumans;
    &:after {
        
        @include shadow-bottom-fuzzy;
    }
}

img {
 max-width: 100%;
 min-width: 100%;
}

h2 {
    font-family: Baumans;
}

main {
    padding: 2em;
}


@include headings();