
@import url('https://fonts.googleapis.com/css?family=Baumans');    

body {
    background-image: url('/Users/irynamaslova/Projects/401/final-project/client/assets/images/still_life.jpg');
    background-size: cover; 
    background-repeat: 0 0 no-repeat;
    //background: $baseLight;
    
    //color: $baseDark;
    //font-family:verdana,arial;
    &:after {
        
        @include shadow-bottom-fuzzy;
    }
}

main {
    padding: 2em;
}

@include headings();