footer {
    border-top:1px solid #ccc;
    //background: darken($baseLight,30%);
    height:2em;
    line-height:2em;
    text-align:center;
    width:100%;
    // position:absolute;
    // bottom:0;
    height:60px;  
    text-align: center;
    background:#6cf;
    display: flex;
    justify-content: center;
}