.groupList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.groupli {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 1em;
  padding: .4em;
}

.groupHeader {
  display: flex;
  padding-top: 2em;
  padding-bottom: .8em;
  font-size: 1.4em;
  justify-content: center;
  align-content: center;
}

