a.login {
  display: flex;
  justify-content: center;
  align-items: center;  
}

a {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a#google:after {

  font-family: FontAwesome;  
  content: "\f0d4";
  color: orange;
  font-size: large;
  padding-left: 1em;
  font-weight: bold;
  text-decoration: inherit
}