main{
    min-height: 50em;
    .taskHeader {
        display: flex;
        justify-content: center;
        font-size: 1.1em;
        padding:1em;

    }
    .queueView {
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: space-around;
        
        .inputDiv{
            display: flex;
            flex-direction: column;
            justify-content: center;

            #groupName {
                display: flex;
                justify-content: center;
                padding-bottom: 1em;
                font-size: 1.4em;
            }
        }
        .taskQueue{
            ul{
                margin-top: 1em;
                li{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    div{
                        margin-left:1em;   
                    }
                }
            }
        }
        
    }
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a.unsubscribe:after {
    
    content: "\f056";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: rgb(242, 13, 13) ;
    font-size: 20px;
    padding-left: 0.6em;
    padding-bottom: 1.1em;
    display: flex;
    align-items: center;
}

a.unsubscribe:hover:after {
    content: "\f057";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: rgb(242, 13, 13);
    font-size: 20px;
    padding-left: 0.6em;
    padding-bottom: 1.1em;
    display: flex;
    align-items: center;
}

a.deleteButton:after {
    
    content: "\f00d";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: rgb(242, 13, 13);
    font-size: 18px;
    padding-left: 0.6em;
    padding-bottom: 1.1em;
    display: flex;
    align-items: center;
}

a.deleteButton:hover:after {
    
    content: "\f06a";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: rgb(242, 13, 13);
    font-size: 18px;
    padding-left: 0.6em;
    padding-bottom: 1.1em;
    display: flex;
    align-items: center;
}


a#deleteTask:before {
    content: "\f00d";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: rgb(242, 13, 13);
    font-size: 18px;
    display: flex;
    align-items: center;
}

