main{
    div {
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: space-around;
        li{
            display: flex;
            flex-direction: row;
            div{margin-left:1em;}
        }
    }
}
