.task-form-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    form{
        .newInput{
            margin:1em, 0, 0,0.5em;
            padding:0.5em; 
            width:30em; 
            border-radius:25px; 
            font-size:1.5em;
            line-height: 2.5em;
        }
        .listInput{
            background: $baseLight;
            margin-top:0.2em;
            padding:0.5em;
            border: none;
            outline:none;
            border-radius: 25px;
            width: 30em;
            font-size:1.5em;
            line-height: 2em;
        }
        #listForm{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            div{width:10em;}
        }
        #completedTask{
            text-decoration:line-through;
            border-radius:10px;   
        }
        #incompleteTask{
            text-decoration: none;
            background: darken($baseLight, 15%);
        }
        #checkBox{
            margin-left: 1em;
            width: 1.5em;
            height: 1.5em;
        }
       
        button{
            box-shadow: 0 3px 2px #777;
            margin:1em;
            font-size:1.5em;
            width: 8em;
            // height:2em;
            background: darken($baseLight,15%);
            border-radius: 25px;
        }  
    }
}
