form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}

.taskButton {
   margin: 0 auto;
}


#listHeader {

    margin-top: 2em;
}


.task-form-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    form{
        .newInput{
            margin-bottom: .5em;
            padding:1em; 
            width:15em; 
            border-radius:25px; 
            font-size:1em;
            line-height: 2.5em;
            text-align: left;            
        }

        .listInput{
            background: $baseLight;
            margin-top:0.2em;
            padding:0.5em;
            border: none;
            outline:none;
            border-radius: 25px;
            width: 15em;
            font-size:1.5em;
            line-height: 2em;
            text-align: left;  
            display: flex;
            flex-direction: row;          
        }
        #listForm{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            div{width:10em;}
            text-align: left;            
        }
        #completedTask{
            text-decoration:line-through;
            border-radius:10px;  
            height: 1.3em; 
            text-align: left;            
        }
        #incompleteTask{
            text-decoration: none;
            background: darken($baseLight, 15%);
            height: 1.3em;
            text-align: center;    
            font-color: black;        
        }
        #checkBox{
            margin-left: 1em;
            width: 1.5em;
            height: 1.5em;
        }
       
        button{
            box-shadow: 0 3px 2px #777;
            margin: 0 auto;
            font-size:.7em;
            padding: .2em .2em;
            width: 8em;
            height:1.6em;
            background: darken($baseLight,15%);
            border-radius: 25px;
            text-align: center;
        }  
    }
}

h2 {
    text-align: left;
}

.newTasks {
  display: flex;
  flex-direction: column;
}

form#listForm {
    display: flex;
    flex-direction: row;
    align-items: right;
}

#checkbox {
    margin-top: 1.2em;
}