@import './theme/variables';

@import './utilities/reset';

@import './mixins/all';

@import './components/app',
        './components/header',
        './components/footer',
        './components/navbar',
        './components/modal',
        './components/profile',
        './components/tasks',
        './components/task-form'